[Unit]
Description=Button Service
After=network.target auditd.service

[Service]
WorkingDirectory=/opt/button
#EnvironmentFile=/etc/button.conf
ExecStart=/opt/button/button.sh
Restart=always
#StartLimitInterval=5
#StartLimitBurst=1

[Install]
WantedBy=multi-user.target
